<div>

	<div class="col-md-6 col-offset-md-3 bribe">
		Bribe to Pass
		<img class="pull-right arrow" src="assets/SVGs/Buttons:Switches/Forward Chevron.svg"/>
	</div>

	<!--
	<div class="col-md-6 col-offset-md-3 bitaddress">
		Your bitcoin address is:
		<br/>{{ bitcoinAddress }}
	</div>
	-->
	<div class="col-md-6 col-offset-md-3 bitbalance">
		<span class="usd">USD 5.00</span>
		/
		mBTC 0.02
	</div>

	<div style="width:100%; text-align:center; margin-top:30px;">
	<img class="bribe-confirm" src="assets/SVGs/Buttons:Switches/Confirm.svg" ng-click="pay()"/>
	</div>
</div>
